{% extends 'base.html' %}
{% load static %}

{% block title %} Paciente {{ paciente_id }} {% endblock %}

{% block header_scripts %}
{% endblock %}

{% block nav %}
    {% include 'shared/main_navbar.html' %}
{% endblock %}

{% block content %}

<p id="output"></p>

<script>

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {

     var text = "<div class=\"card w-25\">\n" +
         "    <div class=\"card-header\">\n" +
         "        <h3>Paciente</h3>\n" +
         "    </div>\n" +
         "    <div class=\"card-body\">\n" +
         "        <h3 class=\"card-title\">Nombre: pacient_name</h3>\n" +
         "        <p class=\"card-text\">Padre o Tutor: responsable_name</p>\n" +
         "        <p class=\"card-text\">Telefono: pacient_phone</p>\n" +
         "        <p class=\"card-text\">Correo: pacient_mail</p>\n" +
         "        <p class=\"card-text\">Fecha de nacimiento: pacient_birth_date</p>\n" +
         "    </div>\n" +
         "</div>";

     var response = JSON.parse(this.responseText);

     text = text.replace("pacient_name", response['name']).replace("responsable_name", response['father_name'])
         .replace("pacient_phone", response['phone']).replace("pacient_mail", response['email'])
         .replace("pacient_birth_date", response['birthdate']);

     document.getElementById('output').innerHTML = text;
    }
  };
  xhttp.open("GET", "/api/v1/pacientes/{{ paciente_id }}/", true);
  xhttp.send();

</script>


<p id="citas"></p>

<script>

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {

      var myArr = JSON.parse(this.responseText);

      var i;
      var text;

       text = "<table class=\"table\">\n" +
          "  <thead>\n" +
          "    <tr>\n" +
          "      <th scope=\"col\">Pediatra</th>\n" +
          "      <th scope=\"col\">Consultorio</th>\n" +
          "      <th scope=\"col\">Fecha</th>\n" +
          "    </tr>\n" +
          "  </thead>" +
          "<tbody>";

      for (i = 0; i < myArr['results'].length; i++) {
          var temp_test =  "<tr>\n" +
          " <th scope=\"col\"><a href=\"/front/pediatras/unique_pediatrician/\">pediatrician_name</a></th>\n" +
          " <th scope=\"col\"><a href=\"/front/consultorios/unique_office/\">office_number</a></th>\n" +
          " <th scope=\"col\"><a>appointment_date</a></th>\n" +
          "</tr>\n";

          var res = temp_test.replace("unique_pediatrician", myArr['results'][i]['doctor'])
                              .replace("unique_office", myArr['results'][i]['consultorio'])
                              .replace("pediatrician_name", myArr['results'][i]['doctor_full_name'])
                              .replace("office_number", myArr['results'][i]['office_full_info'])
                              .replace("appointment_date", myArr['results'][i]['appointment_date'])
                              ;

          text += res
        }

      text += "</tbody>\n" +
          "</table>" +
          "<nav aria-label=\"Page navigation example\">\n" +
          "  <ul class=\"pagination\">\n";
      if (myArr["previous"]) {
           text += "<li class=\"page-item\"><a class=\"page-link\" href=\"?page=prev_url\">Previous</a></li>\n";
           text = text.replace("prev_url", myArr["page"] - 1)
      }
      else {console.log(0)}

      text += "<li class=\"page-item\"><a class=\"page-link\" >actual</a></li>\n";

      if (myArr["next"]) {
           text += "<li class=\"page-item\"><a class=\"page-link\" href=\"?page=next_url\">Next</a></li>\n";
           text = text.replace("next_url", myArr["page"] + 1)
      }
      else {console.log(0)}


      text += "  </ul>\n" +
              "</nav>";

      text = text.replace("actual", myArr["page"] );


       document.getElementById('citas').innerHTML = text;
    }
  };
  xhttp.open("GET", "/api/v1/citas/pacient/{{ paciente_id }}/?page=1", true);
  xhttp.send();

</script>



{% endblock %}

{% block footer %}
{% endblock %}
