{% extends 'base.html' %}
{% load static %}

{% block title %} Cuenta {{ account_id }} {% endblock %}

{% block header_scripts %}
{% endblock %}

{% block nav %}
    {% include 'shared/main_navbar.html' %}
{% endblock %}

{% block content %}



<p id="output"></p>

<script>

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {

     var text = "<div class=\"card w-25\">\n" +
         "    <div class=\"card-header\">\n" +
         "        <h3>Cuenta</h3>\n" +
         "    </div>\n" +
         "    <div class=\"card-body\">\n" +
         "        <h3 class=\"card-title\">Numero de credito: id</h3>\n" +
         "        <p class=\"card-text\">Inicial: $ amount</p>\n" +
         "        <p class=\"card-text\">Saldo: $ actual</p>\n" +
         "        <p class=\"card-text\">Estado: credit_status</p>\n" +
         "        <p class=\"card-text\">Plazo: term</p>\n" +
         "    </div>\n" +
         "</div>";

     var response = JSON.parse(this.responseText);

     text = text.replace("amount", response['monto']).replace("id", response['id'])
         .replace("actual", response['saldo']).replace("credit_status", response['estatus'])
         .replace("term", response['plazo']);

     document.getElementById('output').innerHTML = text;
    }
  };
  xhttp.open("GET", "/api/v1/accounts/{{ account_id }}/", true);
  xhttp.send();

</script>



{% endblock %}

{% block footer %}
{% endblock %}
