{% extends 'base.html' %}
{% load static %}

{% block title %} Lista de pacientes {% endblock %}

{% block header_scripts %}
{% endblock %}

{% block nav %}
    {% include 'shared/main_navbar.html' %}
{% endblock %}

{% block content %}



<p id="output"></p>

<script>

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {

      var myArr = JSON.parse(this.responseText);

      var i;
      var text;

       text = "<table class=\"table\">\n" +
          "  <thead>\n" +
          "    <tr>\n" +
          "      <th scope=\"col\">Nombre</th>\n" +
          "      <th scope=\"col\">Responsable</th>\n" +
          "      <th scope=\"col\">Telefono</th>\n" +
          "      <th scope=\"col\">Fecha de nacimiento</th>\n" +
          "    </tr>\n" +
          "  </thead>" +
          "<tbody>";

      for (i = 0; i < myArr['results'].length; i++) {
          var temp_test =  "<tr>\n" +
          " <th scope=\"col\" ><a href=\"/front/pacientes/unique_pacient/\">paciente_name</a></th>\n" +
          " <th scope=\"col\"><a>responsable_name</a></th>\n" +
          " <th scope=\"col\"><a>phone_number</a></th>\n" +
          " <th scope=\"col\"><a>birthdate</a></th>\n" +
          "</tr>\n";

          var res = temp_test.replace("unique_pacient", myArr['results'][i]['id'])
                              .replace("paciente_name", myArr['results'][i]['name'] + " " +
                                  myArr['results'][i]['last_name'] + " " + myArr['results'][i]['mother_name'])
                              .replace("responsable_name", myArr['results'][i]['father_name'])
                              .replace("phone_number", myArr['results'][i]['phone'])
                              .replace("birthdate", myArr['results'][i]['birthdate'])
                              ;

          text += res
        }

      text += "</tbody>\n" +
          "</table>" +
          "<nav aria-label=\"Page navigation example\">\n" +
          "  <ul class=\"pagination\">\n";
      if (myArr["previous"]) {
           text += "<li class=\"page-item\"><a class=\"page-link\" href=\"?page=prev_url\">Previous</a></li>\n";
           text = text.replace("prev_url", myArr["page"] - 1)
      }
      else {console.log(0)}

      text += "<li class=\"page-item\"><a class=\"page-link\" >actual</a></li>\n";

      if (myArr["next"]) {
           text += "<li class=\"page-item\"><a class=\"page-link\" href=\"?page=next_url\">Next</a></li>\n";
           text = text.replace("next_url", myArr["page"] + 1)
      }
      else {console.log(0)}


      text += "  </ul>\n" +
              "</nav>";

      text = text.replace("actual", myArr["page"] );


       document.getElementById('output').innerHTML = text;
    }
  };
  xhttp.open("GET", "/api/v1/{{ app }}/?page={{ page }}", true);
  xhttp.send();

</script>


<div class="container">
  <h3>Agregar nuevo Paciente</h3>
  <form class="form-horizontal" id="myForm">
    <div class="form-group">
      <label for="name">Nombre del paciente:</label>
      <input type="text" class="form-control" id="name" placeholder="Nombre" name="name">
    </div>
        <div class="form-group">
      <label for="lastname">Apellido Paterno del paciente:</label>
      <input type="text" class="form-control" id="lastname" placeholder="Apellido Paterno" name="lastname">
    </div>
    <div class="form-group">
      <label for="mother_name">Apellido Materno del paciente:</label>
      <input type="text" class="form-control" id="mother_name" placeholder="Apellido Materno" name="mother_name">
    </div>
    <div class="form-group">
      <label for="fname">Nombre del padre:</label>
      <input type="text" class="form-control" id="fname" placeholder="Nombre del padre" name="fname">
    </div>
        <div class="form-group">
      <label for="phone">Numero Telefonico:</label>
      <input type="text" class="form-control" id="phone" placeholder="Numero Telefonico" name="phone">
    </div>
    <div class="form-group">
      <label for="mail">Correo Electronico:</label>
      <input type="text" class="form-control" id="mail" placeholder="Correo electronico" name="mail">
    </div>
    <div class="form-group">
      <label for="client_name">Genero:</label>
      <select name="genero">
          <option value="F">Femenido</option>
          <option value="M" selected>Masculino</option>
        </select>
    </div>
    <div class="form-group">
      <label for="date">Fecha de nacimiento:</label>
      <input type="date" id="start" name="date"
       value="2018-07-22">
    </div>

      <button class="btn btn-success" onclick="add()">Nuevo Paciente </button>
  </form>
</div>

<script>

function add() {

    var data = JSON.stringify({
                "name": document.forms["myForm"]["name"].value,
                "last_name": document.forms["myForm"]["lastname"].value,
                "mother_name": document.forms["myForm"]["mother_name"].value,
                "father_name": document.forms["myForm"]["fname"].value,
                "phone": document.forms["myForm"]["phone"].value,
                "email": document.forms["myForm"]["mail"].value,
                "birthdate": document.forms["myForm"]["date"].value,
                "gender": document.forms["myForm"]["genero"].value
                })

    xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 201) {
        alert("The form was submitted");
    }
  };
  xhttp.open("POST", "/api/v1/pacientes/", true);
  xhttp.setRequestHeader("Content-Type", "application/json");

  xhttp.send(data);

}


</script>


{% endblock %}

{% block footer %}
{% endblock %}
